.quote {
    font: 400 72px "Raleway", Helvetica, sans-serif;
    color: #F4645F;
    text-align: center;
}

.post-title {
    color: #F4645F;
}

.pagination>.active>span {
    background-color: #F4645F;
    border-color: #F4645F
}

.pagination>li>a {
    color: #F4645F;
}
